-- CreateTable
CREATE TABLE "tutorial_group" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "TutorialPage" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "groupID" TEXT NOT NULL,
    CONSTRAINT "TutorialPage_groupID_fkey" FOREIGN KEY ("groupID") REFERENCES "tutorial_group" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "TutorialStep" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "imageURL" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "stepOrdering" INTEGER NOT NULL,
    "pageID" TEXT NOT NULL,
    CONSTRAINT "TutorialStep_pageID_fkey" FOREIGN KEY ("pageID") REFERENCES "TutorialPage" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateIndex
CREATE UNIQUE INDEX "tutorial_group_name_key" ON "tutorial_group"("name");

