/* google fonts inport */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* button styling */
    .button {
        height: 50px;
        text-align: center;
        font-family: theme('fontFamily.utd');
        font-size: x-large;
        font-weight: 700;
        border-radius: 15px;
        /* horizontal, vertical, blur, grow, color */
        box-shadow: 0px 5px 13px 1px gray;
    }

    /* text input styling */
    .input {
        height: 50px;
        text-indent: 7px;
        text-align: left;
        font-family: theme('fontFamily.utd');
        font-size: x-large;
        font-weight: 400;eight: 50px;
        background-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: black;
    }
}
